{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Invoice Details"%}{% endblock %}

{% block main %}
<h3>{% trans "Invoice Details" %}</h3>
<div class="col-sm-12 row detail">
    <hr class="header_rule">
    <dl class="dl-horizontal">
	{% if invoice %}
  		<dt>{% trans "Invoice Code" %}</dt>
  		<dd>{{ invoice.inv_code|default:_("None") }}</dd>
  		<dt>{% trans "Account" %}</dt>
  		<dd>{{ invoice.user|default:_("None") }}</dd>
  		<dt>{% trans "Invoice Date" %}</dt>
  		<dd>{{ invoice.inv_date }}</dd>
  		<dt>{% trans "Invoice Period From" %}</dt>
  		<dd>{{ invoice.inv_from }}</dd>
  		<dt>{% trans "Invoice Period To" %}</dt>
  		<dd>{{ invoice.inv_to }}</dd>
  		<dt>{% trans "Total" %}</dt>
  		<dd>{{ invoice.total_amt }}</dd>
  		<dt>{% trans "Balance" %}</dt>
  		<dd>{{ invoice.balance_amt }}</dd>
  		<dt>{% trans "Paid" %}</dt>
  		<dd>{{ invoice.amt_paid }}</dd>
  		<dt>{% trans "Last Updated" %}</dt>
  		<dd>{{ invoice.last_updated }}</dd>
  		<dt>{% trans "Notes" %}</dt>
  		<dd>{{ invoice.notes }}</dd>
  		<dt>{% trans "Status" %}</dt>
  		<dd>{{ invoice.status}}</dd>
	{% else %}
	    <dt>No details found</dt>
	{% endif %}
    </dl>
</div>
<table class="table table-bordered table-striped" id="invoice">
    <thead>
        <tr class="table_caption">
            <th colspan="6" class="table_header" data-column="0">
                <h3 class="table_title">Price Splitup</h3>
                <div class="table_actions clearfix"></div>
            </th>
        </tr>
        <tr class="tablesorter-headerRow">
            <th class="normal_column">Plan</th>
            <th class="normal_column">Rate</th>
            <th class="normal_column">Qty.</th>
            <th class="normal_column">Discount</th>
            <th class="normal_column">Total</th>
        </tr>
    </thead>
    <tbody>
    		{% for item in invoice.items %}
			<tr class="{% cycle 'even' 'odd' %}">
				<td class="normal_column">{{item.plan}}</td>
				<td class="normal_column">{{item.rate|floatformat:2}}</td>
				<td class="normal_column">{{item.qty}}</td>
				<td class="normal_column">{{item.discount_amt|floatformat:2}}</td>
				<td class="normal_column">{{item.total_amt|floatformat:2}}</td>
			</tr>
    		{% endfor %}
    </tbody>
</table>
{% endblock %}

